<div id="left-bar">
  <div id="logo" class="rotate">
    <header>
    <span class="bright">stephaniemason</span>design
    </header>
  </div>

  <div id="social">
    <ul>
      <li><a href="https://twitter.com/unpetitsquab"><img src="/img/twitter42.png"></a></li>
      <li><a href="https://instagram.com/unpetitsquab/"><img src="/img/instagram42.png"></a></li>
      <li><a href="http://www.ravelry.com/people/itsstef"><img src="/img/ravicon.png"></a></li>
    </ul>
  </div>
</div>

<div id="nav-bar">
  <ul>
    <li><a href="{{site.url}}">home</a></li>
    <li><a href="/about/">about</a></li>
    <li><a href="#" name="work" class="toggle">work</a>
      <ul class="sub-menu hide work">
        <li><a href="/work/textiles/">textiles</a></li>
        <li><a href="/work/web-design/">web design</a></li>
        <li><a href="/work/other/">other</a></li>
      </ul>
    </li>
    <li><a href="/blog/">blog</a>
      <ul class="sub-menu">
        <li><a href="/tags/design/">design</a></li>
        <li><a href="/tags/knitting/">knitting</a></li>
        <li><a href="/tags/crochet/">crochet</a></li>
        <li><a href="/tags/patterns/">patterns</a></li>
        <li><a href="/tags/tutorials/">tutorials</a></li>
        <li><a href="/tags/misc/">misc</a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="main-area"></div>
