
#logo {
  position: fixed;
  top: 0;
  left: -460px;
  width: 460px;
  height: 80px;
  line-height: 1;
  font-size: 4em;
  font-family: $heading-font;
}

#left-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  background-color: $med-grey;
}

#nav-bar {
  position: fixed;
  top: 100px;
  left: 75px;
  width: 150px;
  text-align: right;
  font-family: $heading-font;
  font-size: 1.7em;
  line-height: 1.2;
  letter-spacing: .1em;

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    padding: 0;
  }

  a {
    color: $text-color;
  }

  a:hover {
    color: $brand-color;
  }
}

.sub-menu {
  text-align: right;
  font-size: .7em;
}

.hide {
  display: none;
}

.main-area {
  position: fixed;
  top: 0;
  left: 235px;
  width: 533px;
  height: 100%;
  background-color: transparentize($light-grey, 0.50);
}

#social {
  position: fixed;
  bottom: 0px;
  li {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-left: -12px;
  }
  @media screen and (max-height: 610px) {
    top: 465px;
  }
}

#content {
  position: absolute;
  top: 0;
  left: 235px;
  width: 533px;
  height: 100%;
  text-align: justify;
  img {
    width: 533px;
    margin-left: -10px;
  }
}

.bright {
  color: $brand-color;
}

.post-list {
  text-align: center;
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.rotate {
  @include transform(rotate(-90deg));
  @include transform-origin(top right);
}
